@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: rgb(235, 235, 235);
}
p {
  font-size: 0.8rem;
  color: gray;
}
h6 {
  color: black;
}

strong {
  color: black;
  font-size: 12px;
}
small {
  font-size: 10px;
  color: grey;
}

div i {
  color: gray;
}

/* ------------------------------------------------ */

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 4rem;
  background: #fff;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0px;
}

nav .navbar .left,
nav .navbar .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

nav .navbar .left {
  padding-left: 4rem;
}

nav .navbar .right {
  padding-right: 12rem;
}

nav .navbar .logo i {
  font-size: 2.5rem;
  color: rgb(17, 71, 172);
}

.input {
  display: flex;
  padding: 0.5rem 0.8rem;
  gap: 0.5rem;
  align-items: center;
}
nav div input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: 0px 1px gray;
}

nav .navbar .left .input i {
  font-size: 0.8rem;
  color: gray;
}

nav .navbar .right .home {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

nav .navbar .right .network,
nav .navbar .right .jobs,
nav .navbar .right .message,
nav .navbar .right .notification,
nav .navbar .right .me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: gray;
}

div img {
  width: 40px;
  border-radius: 50%;
}
/* ----------------------------Navbar Media Queries------ */

@media screen and (max-width: 1080px) {
  nav div input {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  nav div h6 {
    display: none;
  }
}
/* -----------------Layout Design----------- */

.container {
  display: grid;
  /* grid-template-columns: 24% 52% 24%; */
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  width: 85%;
  margin: 1rem auto;
  margin-top: 60px;
}

main {
  background: #fff;
  height: 60vh;
  position: relative;
  border-radius: 1rem;
}
aside,
.right_side {
  background: #fff;
  min-height: 45vh;
  position: relative;
  border-radius: 1rem;
}
/* --------------------------------------------------------- */

/* --------------------sidebar---------- */
.profile_img img {
  display: flex;
  margin-top: 2rem;
  margin-left: 3.6rem;
  width: 75px;
}
aside .sidebar .profile {
  flex-direction: column;
  display: flex;
  margin-left: 9rem;
  margin-top: -3.5rem;
}

.sidebar .view {
  margin-top: 2.8rem;
  margin-bottom: 1.9rem;
  margin-left: 3.7rem;
  column-gap: 2rem;
}

.sidebar_icon {
  margin-top: 1rem;
  margin-left: 4rem;
  column-gap: 2rem;
}
.group,
.hastag,
.page,
.statistics,
.item,
.profile_view {
  display: flex;
  gap: 1rem;
  margin: 12px;
}
.profile_view {
  box-shadow: 0px 1px gray;
}

/* ------------Left Sidebar Media Queries------------*/

@media screen and (max-width: 1006px) {
  aside {
    display: none;
  }
}

/* -------------------------Left Sidebar End Here----------- */

/* main section start here-------------- */
.main_section {
  background: #fff;
  border-radius: 0.6rem;
  height: 23vh;
}
/* .comment {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin-top: 3rem;
  margin-left: 1rem;
} */
.text {
  margin-top: 1%;
  margin-left: 2.4rem;
  font-size: 12px;
  font-weight: 300;
}
.main_section input {
  text-align: center;
  margin-top: 1.8rem;
  border: none transparent;
  outline: none;
}
.main_media {
  display: flex;
  gap: 2rem;
  margin-left: 1.9rem;
  margin-top: 2.2rem;
  color: gray;
}

.main_heading {
  background: #fff;
  margin-top: 3.2rem;
  height: 80vh;
  border-radius: 0.6rem;
}

.main_content {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
}
.content {
  margin-left: 1.3rem;
  color: black;
}

.main_image {
  width: 111%;
  margin-top: 1.4rem;
}

.like {
  display: flex;
  gap: 2rem;
  margin-left: 1.6rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1120px) {
  main {
    width: 70vh;
  }
  aside {
    width: 30vh;
  }
}

@media screen and (max-width: 1006px) {
  main {
    width: 85vw;
    height: auto;
    gap: 0rem;
  }
}

/* ------------------------Right Sidebar Start Here----------------------------------------- */

.recommended_profile {
  display: grid;
  margin-left: 1.4rem;
  margin-top: 1rem;
  font-size: 14px;
}
/* .container_rightside {
} */
.profile_1 {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: -3.3rem;
}
.profile1 {
  display: flex;
  margin-top: 0.4rem;
  margin-left: 1rem;
  align-items: center;
  padding: 0px 10px 3px;
  margin: 14px;
}

.add i {
  position: absolute;
  margin-top: -25px;
  margin-left: 13rem;
  color: rgb(45, 102, 167);
  cursor: pointer;
}
/* --------------right sidebar  Media Queries---- */

@media screen and (max-width: 1120px) {
  .right_side {
    display: none;
  }
}
